<nav class="sticky-top" style="top: 2rem">
  <div class="bg-white p-4 rounded shadow-sm mb-4">
    <h6 class="fw-semibold mb-3" style="color: #475c57">Data</h6>
    <ul class="nav flex-column gap-1">
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Overview</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Description</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Genes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Genetic Maps</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Genomes</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Markers</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Publications</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Sequences</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >SNP Array</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Trait Loci</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Transcripts</a
        >
      </li>
    </ul>

    <h6 class="fw-semibold mb-3 mt-4" style="color: #475c57">Tools</h6>
    <ul class="nav flex-column gap-1">
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >BLAST</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >JBrowse</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Links</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >AppleCyc</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Sequence Retrieval</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link p-1 text-decoration-underline-hover" href="#"
          >Synteny Viewer</a
        >
      </li>
    </ul>
  </div>
</nav>
